*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
#Home{
  height: 670px;
}
main {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  z-index: -1;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}
.About{

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.24);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.94);
    width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#open{
  display: none;
}
#close{
  display: none;
}
 .mail2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  }
#Skills{
  height: 200px;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.5px);
-webkit-backdrop-filter: blur(12.5px);
border: 1px solid rgba(255, 255, 255, 0.94);
}

/*
width: 90%;
display: flex;
justify-content: center;
align-items: center;
margin: 0 auto; 
#Projects{
  width: 80%;
  margin: 0 auto;
  }
  */
.lg{
  height:50px;
  width:50px;
  padding: 10px;
}
.lt{
  margin: 10px 0 0 -20px;
  text-decoration: none;
  color: rgb(166, 166, 155);
}
.navigation{
  height: 54px;
  z-index: 1;
}
.html{
  width: 90%;
  background-color: red;
}
.css{
  width: 50%;
  background-color: blue;
}
.javascript{
  width: 50%;
  background-color: yellow;
}
.angularjs{
  width: 20%;
  background-color: green;
}
.profile{
  float: left;
  background-size: cover;
  margin: 10px;
}
.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
  font-size: 75px;
  font-weight: 900;
}
.navbar{
  position: fixed;
  background-color: rgb(22, 56, 193);
  width: 100%;
  z-index: 3;
}
.navbar ul{
  display: flex;
  float: right;
  gap: 30px;
  list-style: none;
  margin: 10px 0 0 0;
}
.navbar ul .list-item{
  background: #20006c;
  padding: 10px;
}
.navbar ul a{
  text-decoration: none;
  color: wheat;
}
.navbar .logo{
  float: left;
  margin: 4px 0 0 0;
}
.bars{
  display: flex;
  flex-direction: column;
  margin: 1px 1px 1px 48px;
}
#Projects{
  max-width: 1080px;
    margin: auto;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(12.5px);
-webkit-backdrop-filter: blur(12.5px);
border: 1px solid rgba(255, 255, 255, 0.94);
}
#Skills {
  max-width:1080px;
  margin:auto;
}
#pop{
  display: none;
  background-color: red;
  height: 100px;
  width: 50%;
}


.p1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 283px;
}
.p2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 283px;
}
.prdesc{
  margin: 0 0 0 10px;
}

#open{
  display: none;
}
#close{
  display: none;
}
.dope{
  text-decoration: none;
}
.vbtn{
  padding: 10px 20px 10px 20px;
  background: white;
  color: black;
  margin: 0 0 0 10px;
  text-decoration: none;
  height: 10px;
  border-radius: 10px;
}
.vbtn:hover{
  padding: 10px 20px 10px 20px;
  background: rgb(255, 60, 0);
  color: black;
  margin: 0 0 0 10px;
  text-decoration: none;
  height: 10px;
  border-radius: 10px;
}
.list-item1{
  display: none;
} 

.pimg{
  block-size: auto;
  height: 258px;
  margin: 2px 0 0 10px;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: top center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .list-item{
    display: none;
   }
  .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 40px;
    font-weight: 900;
  }
  .prdesc{
    margin: 10px 0 0 10px;
  }
  .pimg{
  block-size: auto;
  height: 137px;
  margin: -2px 0 0 0;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: top center;
}
  #hbars{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .About{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .bar h3 {
    text-align: center;
  }
  #Skills{
    height: 200px;
    width: 90%;
  }
  .profile{
    float: left;
    background-size: cover;
    margin: 10px;
    height: 134px;
  }
  
  #Home{
    height: 420px;
  }
  .mail2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
  }
  .lt{
    display: none;
  }
  .ang{
    display: none;
  }
  #open{
    display: flex;
    float: right;
    margin: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

  .vbtn {
    background: white;
    color: black;
    margin: 10px;
    height: 39px;
    display: flex;
    justify-content: center;
}
  .p1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 420px;
    flex-direction: column;
}
#btn{
    display: none;
    float: right;
    gap: 28px;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 143vh;
    flex-direction: column;
    margin: -82vw 40vw 1vw 40vw;
}
@keyframes nav {
  from {left: 0px;}
  to {left: 300px;}
}
.list-item1{
  display: inline;
  padding: 10px;
    background: #581c2e;
    animation: nav cubic-bezier(0.46, 0.63, 0, 0.98) 4s forwards;
}
}
#Projects{
  width: 90%;
  margin: 0 auto;
  }
#close{
  display: none;
  float: right;
  margin: 11px;
  width: 37px;
  position: absolute;
  margin-left: 90vw;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.navbar ul .list-item{
  background: #20006c;
  padding: 10px;
}
  
