*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
#Home{
  height: 670px;
  background: url(bgvideo.mp4);
}
.About{
  background-color: springgreen;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .mail2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  }
#Skills{
  background-color: #bc2623;
  height: 200px;
}
#Projects{
  margin-top: 10px;
  background-color: violet;
  height: 200px;
}
.lg{
  height:50px;
  width:50px;
  padding: 10px;
}
.lt{
  margin: 10px 0 0 -20px;
}
.navigation{
  height: 54px;
}
.profile{
  float: left;
  background-size: cover;
  margin: 10px;
}
.intro{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(0, 255, 255);
  font-size: 75px;
  font-weight: 900;
}
.navbar{
  position: fixed;
  background-color: rgb(22, 56, 193);
  width: 100%;
}
.navbar ul{
  display: flex;
  float: right;
  gap: 30px;
  list-style: none;
  margin: 10px 0 0 0;
}
.navbar ul li{
  background: #20006c;
  padding: 10px;
}
.navbar ul a{
  text-decoration: none;
  color: wheat;
}
.navbar .logo{
  float: left;
  margin: 4px 0 0 0;
}


#Skills {
  max-width:1080px;
  margin:auto;
}

#bars {
	margin: 2em auto;
	max-width: 960px;
	overflow: hidden;
}

.bar {
	float: left;
	width: 20%;
	text-align: center;
}

.bar h3 {
	font-size: 1.4em;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}
#hbars{
  display: flex;
  flex-direction: row;
}
.bar-circle {
	display: block;
	margin: 0.7em auto;
}

h3 {
	display:inline-block;
	margin-left:25px;
	cursor:pointer;
}
#names {
  text-align:center;
}
.bactive {
	border-bottom:3px solid #D6AC4B;
		font-weight:800;
}
#Projects{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.sbar {
  display:none;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(0, 255, 255);
    font-size: 40px;
    font-weight: 900;
  }
  #hbars{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .About{
    background-color: springgreen;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bar h3 {
    text-align: center;
  }
  #Skills{
    background-color: #bc2623;
    height: 550px;
    width: 90%;
  }
  .profile{
    float: left;
    background-size: cover;
    margin: 10px;
    height: 134px;
  }

  #Home{
    height: 420px;
  }
  .mail2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: row;
  }
  .lt{
    display: none;
  }
  .ang{
    display: none;
  }
  }