*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    background: url('img/bg.jpg') no-repeat fixed;
    background-size: cover;
  }
  
  
header{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav{
    background: purple;
    height: 36px;
    width: 100%;
    margin-top: 631px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 54px;
    padding: 10px;
}
nav ul li{
    text-align: center;
    list-style: none;
    color: wheat;
}
nav ul li a{
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}
#section1{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#section2{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#section3{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#welcome{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#welcomepanel{
    height: 330px;
    width: 300px;
    background: #5e4242;
    z-index: 0;
}
#box{
    height: 300px;
    width: 300px;
    background: red;
    z-index: 0;
}
.info{
    margin: -43px 10px 10px 10px;
}
.fonti{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.imgp{
    height: 160px;
}
.head{
    font-size: 1.625rem;
    margin: 50px auto 0 auto;
    color: #a4d464;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}
.prof{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #c2b280;
    font-weight: normal;
    padding-bottom: 10px;
}
#box1{
    height: 330px;
    width: 300px;
    background: #626060;
    z-index: 0;
}
/*
.bot{
    margin: 10px 10px 10px 10px;
} */